<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-brand nav-title">WonderList</div>
    <li class="nav-item dropdown d-flex">
      <div class="count dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Categories
      </div>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <div *ngFor="let category of categories">
          <li><a class="dropdown-item" [routerLink]="['/todo/',category]">{{category}}</a></li>
        </div>
        
      </ul>
    </li>
  
      <div class="total count d-flex">
        Total: {{todos.length}}
      </div>
      <div class="completed count d-flex">
        Completed: {{completed}}
      </div>
      <div class="pending count d-flex">
        Pending: {{todos.length - completed}}
      </div>
      <button class="button" [routerLink]="['']">
        Sign out
      </button>
  </div>
</nav>
